body{
    margin:auto;
    background-color: #ffffff;
    font-family: 'Lexend Giga', sans-serif;
}
header{
    background-color: #3DE1CC;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height:auto;
    max-width: 60px;
}
section{
    display: block;
}
.motto{
    font-size: 8px;
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: left;
}
h1{
    font-size: 25px;
    font-family: 'Baloo', cursive;
    text-decoration: underline;
    text-align: left;
}
h2{
    text-align: center;
    font-size: 18px;
}
footer{
    font-size: 10px;
}
nav{
    margin:0 auto;
    background-color: #FFAA7D;
}
.navigation{
    list-style:none;
    text-align: center;
    padding:0;
    margin:auto;
}
.navigation li:first-child{
    display:block;
}
.navigation li {
    display: none;
}
.navigation a{
    display:block;
    color: #fff;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
}
.navigation a:hover{
    color: #000000;
    background-color:#FFAA7D;
    font-weight: 700;
}
.responsive li{
    display: block;
}
.active{
    background-color: #3DE1CC;
}
.contentbox{
    text-align: left;
    border: 1px dotted #FFAA7D;
    padding: 10px;
    margin: 10px;
}
.contentbox:hover{
    background-color: #D09EFF;
}
footer{
    background-color: #FFAA7D;
    padding: 15px;
    text-align: center;
}