@media only screen and (min-width: 60em){
    body{
        min-width: 330px;
        height: 100%;
    }
    h1{
        font-size: 50px;
        margin-top: -2px;
    }
    h2{
        font-size: 2em;
    }
    .title{
        margin-top: 30px;
        font-size: 3.2em;
    }
    .motto{
        font-size: 22px;
        margin-left: 100px;
        margin-top: -50px;
    }
    .navigation a{
        font-size: 1.8em;
    }
    header img{
        height: auto;
        max-width: 100px;
    }
    footer{
        max-width: 80%;
        margin:0 auto;
        font-size: 1.3em;
    }
    main{
        max-width:80%;
    }
    .templeservices img{
        width: 480px;
        height: 310px;
    }
    .templeinfo img{
        max-width: 500px;
        min-width:500px;
        max-height: 350px;
    }
fieldset{
    margin: 20px auto;
}
    .services{
        max-width: 800px;
        margin:20 auto;
        font-size:1.2em;
    }
    .amenities{
        max-width: 800px;
        margin:20px auto;
        font-size:1.2em;
    }
    .receptionandmissionary img{
        width: 400px;
        height: 600px;
    }
    /***MAP***/
    .mapouter{
        height:500px;
        width: 600px;
    }
    .gmap_canvas{
        height:500px;
        width: 600px;
    }
    /***GALLERY***/
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
    .gallery figcaption{
        font-size: 1rem;
    }
    .reception{
        max-width: 800px;
    }
    p{
        font-size: 1.2em;
    }
}