@media only screen and (min-width: 32.5em){
    h1{
            font-size: 40px;
            margin-top: 25px;
    }
    h2{
        font-size: 1.8em;
    }
    footer{
        font-size: 1.2em;
    }
    header img{
        height: auto;
        max-width: 80px;
    }
    .motto{
        margin-top: -40px;
        margin-left: 80px;
        font-size: 1.1em;
    }
    .title{
        font-size: 2.5em;
    }
    .navigation{
        display: flex;
        font-size: 12px;
    }
    .navigation a{
        font-size: 1.5em;
    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li{
        display: block;
        flex: 1 1 100%;   
    }
    .active{
        background-color: #80DED9;
    }
    .weather{
        display: block;
    }
    .templeservices{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .receptionandmissionary{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .templeservices img{
        width: 280px;
        height: 210px;
    }
    .receptionandmissionary img{
        width: 330px;
        height: 470px;
    }
    .temples{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: 0 auto;
    }
    fieldset{
        margin:10px;
    }
    .services{
        max-width: 600px;
        font-size:1em;
    }
    .amenities{
        max-width: 600px;
        font-size: 1em;
    }
}