@media only screen and (min-width: 60em){
    body{
        min-width: 330px;
        height: 100%;
    }
    h1{
        font-size: 50px;
        margin-top: -2px;
    }
    .motto{
        font-size: 15px;
        margin-top:-50px;
    }
    h2{
        font-size: 22px;
    }
    header img{
        height: auto;
        max-width: 100px;
    }
    footer{
        max-width: 80%;
        margin:0 auto;
    }
    main{
        max-width:80%;
        margin:0 auto;
    }
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
    .gallery figcaption{
        font-size: 1rem;
        
    }
    .gallery figure:hover {
        box-shadow: 10px 10px #ffaa7d;
    }

/***Storm Center***/
form{
    max-width: 800px;
}
form fieldset{
    width: 100%;
}

/***Town Data***/
div.town-data section{
    display: grid;
  }
div.town-data {
    grid-template-columns: 1fr 1fr 1fr;
  }
div.town-data section {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
}

}