body{
    margin:auto;
    background-color: #ffffff;
    font-family: 'Lexend Giga', sans-serif;
}

header{
    background-color: #3DE1CC;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img{
    height:auto;
    max-width: 60px;
}
section{
    display: block;
}
.motto{
    font-size: 8px;
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: left;
}
h1{
    font-size: 25px;
    font-family: 'Baloo', cursive;
    text-decoration: underline;
    text-align: left;
}
h2{
    text-align: center;
    font-size: 18px;
}
nav{
    margin:0 auto;
    background-color: #FFAA7D;
}
.navigation{
    list-style:none;
    text-align: center;
    padding: 0;
    margin: auto;
}
.navigation li:first-child{
    display:block;
}
.navigation li {
    display: none;
}
.navigation a{
    display:block;
    color: #fff;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
}
.navigation a:hover{
    color: #000000;
    background-color:#FFAA7D;
    font-weight: 700;
}
.responsive li{
    display: block;
}
.active{
    background-color: #3DE1CC;
}
.contentbox:hover{
    background-color: #D09EFF;
}
.banner-show{
    display: block;
    text-align: center;
    background-color: #D09EFF;
    padding:10px;
}
.banner-hide{
    display:none;
}
footer{
    background-color: #FFAA7D;
    padding: 15px;
    text-align: center;
    font-size:10px;
}
.gallery{
    margin: auto;
    text-align: center;
    display: grid;
    grid-gap: 20px;
}
.gallery figure{
    margin: 10px;
}
.gallery figcaption{
    font-size: .8rem;
}


/***Storm Center***/
form{
    max-width: 350px;
    margin: 0 auto;
}
form fieldset{
    width: 85%;
    border: 2px solid #FFAA7D;
    margin: 20px;
    padding: 20px;
    margin: 20px;
}
form legend{
    font-weight: bold;
    font-size: 17px;
}
form label.top, form div, #rating{
    display: block;
    padding-top: 20px;
}
form label.sbs{
    display: block;
    padding: 1rem 0;
}
form #rating{
    margin: 1rem;
}
#ratingvalue{
    padding: 5px;
    border: 1px solid #000000;
    background-color: #c5c5c5;

}
form label.top input, form label.top select, form textarea{
    -webkit-appearance: none;
    display: block;
    border: 1px solid #c5c5c5;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    font-size: 14px;
}
button, input, select{
    font-family: inherit;
}
textarea{
    overflow: auto;
}
form input.submitbutton{
    border: none;
    background-color: #D09EFF;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    width: 100%;
    max-width: 200px;
}

/***Town Data***/
div.towns {
    border: 2px solid #FFAA7D;
    margin: 10px;
    padding: 10px;
  }
  
  div.town-data {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
  }
  
  div.town-data section {
    display: grid;
    grid-template-rows: auto;
    justify-content: space-between;
    border: 1px solid#c5c5c5;
    width: 100%;
    margin: 1rem 0;
  }
  div.town-data section div.town-info {
    margin: 1rem;
  }
  div.town-data section h3 {
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
  }
  div.town-data section p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  div.town-data section p.motto {
    font-weight: bold;
    font-style: italic;
  }
  
  div.town-data section div.town-image {
    display: grid;
  }
  
  div.town-data section div.town-image img {
    display: grid;
    align-self: end;
    width: 100%;
  }