@media only screen and (min-width: 32.5em){
    h1{
            font-size: 40px;
            margin-top: 25px;
    }
    footer{
        font-size: 14px;
    }
    header img{
        height:auto;
        max-width: 80px;
    }
    .motto{
        font-size: 13px;
        margin-top: -30px;
    }
    .navigation{
        display: flex;
        font-size: 12px;
    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li{
        display: block;
        flex: 1 1 100%;   
    }
    .active{
        background-color: #3DE1CC;
    }
    .gallery{
        grid-template-columns: 1fr 1fr;
        max-width: 960px;
        justify-content: center;
    }
    .gallery figcaption{
        font-size:.9rem;
    }
    img{
        max-width: 320px;
        max-height: 220px;
    }
    /***Storm Center***/
    form{
        max-width: 500px;
    }
    form fieldset{
        width: 90%;
    }
    /***Town Data***/
    div.town-data section{
        display: flex;
      }
    div.town-data section:nth-child(even) {
        flex-direction: row-reverse;
    }
    div.town-data section {
        width: 86%;
    }
    .towns section div {
            width: 100%;
        }


        /***hero image info/map***/
            
            .hero-image img{
                width: 100%;
                height: auto;
            }
            
            .map{
                display: block;
                width: 100%;
            }
            
            .info{
                width: 50%;
                    font-size: .8rem;
                    text-align: left;
            }
            .forecast{
                display: block;
                font-size: 1.3em;
                align-items: center;
                justify-content: center;
            }
        }
    