@media only screen and (min-width: 37.5em){
    nav ul { 
        display: flex; 
    }
    nav ul li { 
        flex: 1 1 100%; 
    } 

    .whole-scheme{
        margin:auto;
        max-width: 750px;
        min-width: 330px;
    }
    .color-images{
        max-width:200px;
        min-width: 330px;
        padding-left: 200px;
    }
    li{
        margin-left: 20px;
    }
    h4{
        padding-left: 20px;
    }
    .h-font{
        margin:auto;
        max-width: 750px;
        min-width: 330px;
        padding-bottom: 10px;
    }
    .b-font{
        margin:auto;
        max-width: 750px;
        min-width: 330px;
        padding-bottom: 10px;
    }
}