body{
    margin:0;
    background-color: #ffffff;
    font-family: "Arial", sans-serif;
    height:100%;
}
header{
    margin-top: 10px;
    background-color: #f28393;
    padding: 20px;
    text-align: center;
}
main{
    margin: 0 auto;
    display:flex;
    justify-content: center;
}
h1{
    color: #3a3438;
    font-family:"Myrad Pro", sans-serif;
    font-size: 40px;
    text-decoration: underline;
}
h2{
    color: #ffffff;
    font-family: "Myrad Pro", sans-serif;
}
h3{
    color: #3a3438;
    background-color: #f28393;
    font-family:"Arial", sans-serif;
    font-size: 1.5em;
    padding: 10px;
}
h4{
    text-transform: uppercase;
    font-size: 1.3em;
    padding-left:10px;
}
p{
    display:block;
    color: #3a3438;
    font-family:"Arial", sans-serif;
    font-size:1.3em;
    text-align: inherit;
    padding:15px;
}
a:link{
    color: #3a3438;
    padding-left: 10px;
}
a:visited{
    color: #3a3438;
}
a:hover{
    color: #3a3438;
}
a:active{
    color: #ffffff;
}
footer{
    color: #3a3438;
    background-color: #f28393;
    padding: 15px;
    text-align: center;
}
.updated{
    color: #ffffff;
    font-size: 15px;
}
.boxes{
    display:grid;
    grid-template-columns: 1fr;
    font-size: 1em;
}
img{
    margin-left:27px
}
.sshot{
    width: 350px;
    height: 1300px;
    justify-content: center;
    border: .5px solid #3a3438;
    border-radius: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
/* medium view*/
@media only screen and (min-width: 37.5em){
    .boxes{ 
        grid-template-columns: 1fr 1fr;
        grid-gap:30px;
    }

}
/* large view*/
@media only screen and (min-width: 60em){
    
    .boxes{ 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
    }
}